[2019-07-12 09:11] luruke opened #3 "Pass `gl` context"
Creating a `gl` context is expensive.

Currently unless a `forceRendererString` is passed, the lib creates a new context.
Maybe we can add an option to pass an existing context?

[2019-07-14 15:11] TimvanScherpenzeel commented on #3
Sure that sounds like a good idea 👍

[2019-07-14 15:36] TimvanScherpenzeel commented on #3
I've added the option `glContext` to pass in an existing WebGL context which avoids the internal creation of one.

See https://github.com/TimvanScherpenzeel/detect-gpu/blob/9d2fe31f514fedb6b18214117125ae8edb656a3f/index.html#L69-L89 for an example 👍

Thanks for your suggestion!

[2019-07-14 15:36] #3 closed

[2019-11-01 13:08] gordonnl opened #5 "Safari 12 crashes with powerPreference set to high-performance"
Unfortunately I've just found out that safari 12 crashes when the ```powerPreference``` attribute is set to ```'high-performance'``` in the ```canvas.getContext('webgl', attributes)``` method.

I'm not sure how long this has been the case.

Previously I made the [pull request](https://github.com/TimvanScherpenzeel/detect-gpu/pull/2) to include this attribute as it provides more accurate results fo

[2019-11-01 13:10] gordonnl commented on #5
Only affects Safari 12 apparently - not an issue with Safari 13

[2019-11-01 20:47] EddyHamzich opened #6 "DESKTOP GPU recognized as MOBILE GPU"
Hello sir,
First I just want to thank you for creating this utility it is incredibly useful !

My problem is: So when i visit your demo site https://timvanscherpenzeel.github.io/detect-gpu/ I get the correct detection on my gpu Tier: GPU_DESKTOP_TIER_3
Type: BENCHMARK - nvidia geforce gtx 980 ti.

But I npm installed the package today and when i use it locally with this code:

import { getGPUTier

[2019-11-01 20:54] EddyHamzich commented on #6
Ok i just figured out what causes this on your demo site: If i open devtools in Chrome (press F12) the detection changes to GPU_MOBILE_TIER but when I exit devtools and view your demo site in normal mode it  goes back to GPU_DESKTOP_TIER and shows the correct GPU...

[2019-11-06 13:08] TimvanScherpenzeel commented on #6
Hi Eddy,

It is this way because it first checks your user agent to determine on what kind of device you are on and then your GPU to categorise it in the correct tier.

Kind regards,

Tim

[2019-11-06 13:15] TimvanScherpenzeel commented on #5
Hi Gordon,

I think it would be best to work around this specifically for Safari 12 if this is not resolved as the `high-performance` attribute in general is still quite useful to make sure it selects the most powerful GPU available in the users machine.

Did you report this bug to Webkit?

Unfortunately I'm not able to replicate your issue via Browserstack and I don't own a device running iOS 12

[2019-11-06 13:21] #6 closed

[2019-11-06 13:29] TimvanScherpenzeel opened #7 "Deobfuscate GPU vendor name on iOS 12.2+ and Safari 14+"
See: https://medium.com/@Samsy/detecting-apple-a10-iphone-7-to-a11-iphone-8-and-b019b8f0eb87 and https://51degrees.com/blog/51degrees-open-sources-gpu-renderer-technique-to-identify-apple-devices-using-ios-122-or-higher

[2019-11-06 13:30] TimvanScherpenzeel opened #8 "Research if iPad (Pro) user agent still works correctly as it appears that Apple has changed it"
It appears that Apple has recently decided to swap the user agent on iPad (or perhaps just iPad Pro) to match the desktop version which can cause an issue for us when we are trying to classify a GPU.

The actual detection is done in https://github.com/TimvanScherpenzeel/detect-ua which has a WIP workaround implemented in https://github.com/TimvanScherpenzeel/detect-ua/tree/ipados-workaround

[2019-11-06 13:35] gordonnl commented on #5
I made a little test ground https://codesandbox.io/s/ogl-j1cjh - odd that Browserstack wasn't showing the issue, as I first heard about the issue from a QA team using it.

I didn't report it to Webkit as it's fixed in Safari 13 apparently.

[2019-11-06 13:47] TimvanScherpenzeel commented on #5
Unfortunately I'm unable to replicate the issue using both your sandbox and the `detect-gpu` demo on `Safari 12.1.1 on Safari Mojave` (Macbook Pro) as well as on Browserstack using their iOS 12 devices (`Safari 12.1`).

Does Safari crash entirely or just the page? Does it throw any errors in the console?

[2019-11-06 13:51] gordonnl commented on #5
I'm still running Safari 12.1.1 on High Sierra MBP.

The page reloads several times due to a 'problem' before showing the "a problem repeatedly occurred" message. Therefore Unable to view the console.

[2019-11-06 16:33] TimvanScherpenzeel commented on #5
Hmm.. 🤔

![Screenshot 2019-11-06 at 17 32 20](https://user-images.githubusercontent.com/11870513/68317461-7335a000-00bb-11ea-8088-6c13364e799e.png)

[2019-11-06 16:38] TimvanScherpenzeel commented on #5
Ah.. does your MBP have multiple GPU's?  That could very well be the cause of the issue as `powerPreference: 'high-performance'` only really makes sense in that context.

Mine does not have multiple GPU's which could be the reason why I am not able to replicate the issues you are having.

[2019-11-06 17:01] TimvanScherpenzeel commented on #5
I've created a workaround in this branch: https://github.com/TimvanScherpenzeel/detect-gpu/tree/add-workaround-safari-12-powerpreference-crash

Could you have a look if this solves your issue?

[2019-11-06 18:36] gordonnl commented on #5
Yeah good call, my MBP does indeed have two GPUs.

That branch fixes the issue though! Nice one!

[2019-11-06 18:37] gordonnl commented on #8
I've got an iPad Pro if you need a tester?

[2019-11-06 22:01] TimvanScherpenzeel commented on #8
That would be great :)

I've added a workaround here: https://github.com/TimvanScherpenzeel/detect-ua/tree/ipados-workaround which works with the user agent for iPadOS I've found online but a test on an actual iPad would be better (as it relies on some hacky testing for touch support unfortunately).

It should report the iPad Pro (in default desktop website mode) as a tablet device running Safari

[2019-11-06 22:13] TimvanScherpenzeel commented on #5
Published the workaround in `detect-gpu@1.1.3` :)

[2019-11-06 22:13] #5 closed

[2019-11-06 22:24] TimvanScherpenzeel commented on #7
From what I can quickly see on my iPhone 8 (13.1.3) it reports the GPU name just fine.

[2019-11-07 11:39] pqml commented on #7
Hi,

I tested on several iOS devices (iPhone 7+ with iOS 12 , iPhone 7 with iOS 13, iPhone X with iOS 13.2)

`detect-gpu` wrongly reports their GPU as `apple a12x bionic gpu` (This is the iPad Pro GPU chip)

On https://webglreport.com/ they are all referred as `Apple GPU`

[2019-11-07 13:29] gordonnl commented on #8
Can confirm it works! ```isIOS``` returns the correct version too.

[2019-11-07 14:26] TimvanScherpenzeel commented on #8
Great thanks, I've published the changes as `detect-ua@0.0.12`

[2019-11-07 14:26] #8 closed

[2019-11-07 14:29] TimvanScherpenzeel commented on #7
Thanks @pqml for your report! I'll have a look if I'm able to add a workaround without drastically increasing the library size. I've updated the user agent library to handle the new ipadOS user agent which should help with classifying it.

[2019-11-07 15:10] TimvanScherpenzeel commented on #7
Active Theory does a CPU benchmark to pick a GPU. This could work reasonably well but I would need to inform if they would be okay with me modifying it and open sourcing it.

![Screenshot 2019-11-07 at 16 07 36](https://user-images.githubusercontent.com/11870513/68400710-c28dd600-0178-11ea-95d2-fd8d77fdad1c.png)

[2019-11-07 15:24] luruke commented on #7
Interesting @TimvanScherpenzeel – I'm wondering how that would work when the phone is doing other stuff in background (updates, notifications...)

[2019-11-07 15:26] Samsy commented on #7
Hum, hard to rely on those tests

https://medium.com/@Samsy/detecting-apple-a10-iphone-7-to-a11-iphone-8-and-b019b8f0eb87

That would be a 100% way to differentiate them, ridiculous way... but still

[2019-11-07 15:32] TimvanScherpenzeel commented on #7
I think so to, I just wrote up an implementation of this iOS GPU test in https://github.com/TimvanScherpenzeel/detect-gpu/tree/add-apple-gpu-detection and it reports my iPhone 8 as an `apple a13 bionic gpu` which is incorrect.

I don't think this approach would work well enough on its own but using a CPU benchmark and a screen resolution could be part of a larger solution.

For me personally I don

[2019-11-07 15:43] TimvanScherpenzeel commented on #7
Thanks for your research on it 💯

I'll have a look if I can codegolf your findings down using vanilla WebGL and if it is able to detect all the different GPU's reliably.

[2019-11-07 21:26] TimvanScherpenzeel commented on #7
Had some time this evening to look into it and was able to port @Samsy 's Three.js implementation to vanilla WebGL. You can have a look at it here: https://github.com/TimvanScherpenzeel/detect-gpu/tree/add-apple-gpu-samsy. Would like to add / test all the affected models in question but I don't have many of them.

[2019-11-07 23:08] Samsy commented on #7
Will test it tomorrow !
Would love to see credits in there too if that's possible ;)

Many thanks !

[2019-11-08 06:02] TimvanScherpenzeel commented on #7
Thanks, I’ve added your article and link to the source 🙂

[2019-11-08 14:47] TimvanScherpenzeel commented on #7
In terms of testing I was able to test various devices on Browserstack except for the latest iPhone 11. I'm thinking about combining the resolution test with these findings to be able to narrow them down further.

![Screenshot 2019-11-08 at 15 44 27](https://user-images.githubusercontent.com/11870513/68484988-ace2e400-023e-11ea-9ead-754edd04025a.png)

[2020-02-12 14:36] TimvanScherpenzeel opened #11 "Issue with scraping and formatting of GPU benchmarks"

[2020-03-03 14:06] SBRK opened #12 "Reporting a tier based on the rank of the gpu doesn't seem like the best idea"
Why use the rank of the GPUs, rather than an actual benchmark score ? With that technique, if you have two GPUs with identical performance, but the separation between two tiers falls between the two, one will have a lower tier, despite having the same performance.

I imagine, the rank is a quick and easy way to get a more or less viable tier, but I would envision something more accurate where you

[2020-03-03 14:09] SBRK opened #13 "Intel UHD Graphics 620 wrongfuly identified as Iris Pro Graphics 6200"

[2020-03-03 15:35] SBRK commented on #13
I have a similar problem with an Apple A9 being identified as A9x. I haven't looked in depth at how the detection is made but I imagine it's the same issue

[2020-05-12 14:51] TimvanScherpenzeel commented on #12
Thanks for your comment. I think your described approach would work, I just haven't found the need for that kind of detail yet. Feel free to open a PR with your proposed changes and we can discuss it then. I would like to avoid increasing the GZIP size of the bundle if possible.

[2020-07-17 00:35] Ben-Mack commented on #7
Hi @TimvanScherpenzeel, Is the check ready? Could you merge it into master?

[2020-07-17 17:04] TimvanScherpenzeel commented on #7
Hi @Ben-Mack, the check partly there but not yet fully ready. I had stopped working on it as I didn't have the means to properly test the solution nor did I have a need in my job to work on it. You are welcome to contribute checks that could narrow down the GPU version more accurately. As it currently stands I feel the amount of code and the obscure complexity of it doesn't bring enough benefits t

[2020-07-17 17:14] TimvanScherpenzeel commented on #11
Issue has been resolved in master

[2020-07-17 17:14] #11 closed

[2020-07-17 17:16] TimvanScherpenzeel commented on #12
One of the problems with the benchmarks in that the scores change (as they are relative) see: https://github.com/TimvanScherpenzeel/detect-gpu/commit/0e796a69a66aaf9aa3573c341c2c9516c0cf881c#diff-75b92df9186609196c5e0f2a027f9021

[2020-09-12 18:33] bastienrobert commented on #13
Actually, in `getDesktopRank` (and `getMobileRank`), the for loop returns the first result it match (and it compares using an include algorithm and the version number of the entry and the renderer).

eg. Iris Pro Graphics 6200 version is 6200 so, because (Intel UHD Graphics) 620 is included in 6200, it match and return the result.

A solution could be to add a [levenshtein distance algorithm](http

[2020-09-12 18:36] bastienrobert opened #20 "Automatic updates"
It could be great to add a Github Action to update the benchmarks each week/months and to publish automatically a new release if there's changes in the benchmarks.

[2020-09-14 13:53] TimvanScherpenzeel commented on #20
Hi @bastienrobert,

That is a good idea. I unfortunately have encountered issues in the past where the benchmarking update would fail so there will need to be some redundancy.

[2020-09-14 14:20] bastienrobert commented on #13
I'm going to PR a proposal ASAP

[2020-09-18 15:21] leamit opened #25 "Safari 14 not detecting (return fallback)"
On new Safari 14 plugin return incorrect result:
Tier: GPU_DESKTOP_TIER_1
Type: FALLBACK

[2020-09-20 18:33] TimvanScherpenzeel commented on #25
Hi, if I recall correctly Safari 14 prevents us from reading the GPU renderer information.

This was already an issue in iOS 12.2+ and an attempt has been made to work around that in #7, tracking in https://github.com/TimvanScherpenzeel/detect-gpu/tree/add-apple-gpu-samsy

[2020-09-28 08:58] TimvanScherpenzeel commented on #13
Should be resolved in #24, version 1.5.0

[2020-09-28 08:58] #13 closed

[2020-09-28 11:53] TimvanScherpenzeel commented on #7
@Samsy @Ben-Mack Safari 14+ also appears to obfuscate its renderer as 'apple gpu'. Seeing as Safari is only ran on Apple products we could possibly narrow it down quite a bit. The current implementation returns 'fallback' as mentioned in https://github.com/TimvanScherpenzeel/detect-gpu/issues/25.

I've opened an MR to track progress: https://github.com/TimvanScherpenzeel/detect-gpu/pull/26

If any

[2020-09-28 12:08] TimvanScherpenzeel commented on #25
Closing this in favour of https://github.com/TimvanScherpenzeel/detect-gpu/issues/7, tracking progress there

[2020-09-28 12:08] #25 closed

[2020-10-01 08:52] puckey opened #28 "scripts/analytics_embed.js missing"
I am looking at improving the tests and was wondering about the source of the analytics data.. the readme points me to `scripts/analytics_embed.js`, but this file is missing.. any chance it could be added?

[2020-10-01 14:30] TimvanScherpenzeel commented on #28
Hi @puckey,

`analytics_embed.js` was a file I temporarily added to various projects in production to gather some more data about the devices and available API's. It registers with a custom global to avoid clashing with existing analytics. You can add extra sections to report on specific capabilities you would like to test for.

[code]

I'll clean up the file a bit and re-add it to the codebase

[2020-10-01 14:54] TimvanScherpenzeel commented on #28
After you have ran the script for a while you can export the data as a CSV file to be parsed by the `analytics_parser.js`.

[2020-10-01 15:49] puckey commented on #28
yay, thanks @TimvanScherpenzeel!

[2020-10-01 15:49] #28 closed

[2020-10-06 19:18] TimvanScherpenzeel commented on #12
@SBRK in #29 we are looking into using the benchmark FPS (with screen resolution taken into account). If you would like you can join the conversation, perhaps there are things we haven't taken into account yet.

[2020-10-07 16:33] TimvanScherpenzeel commented on #7
Will be included in the 2.0 release

[2020-10-09 10:18] hyakki opened #42 "Windows / Linux give different tier"
If I go with the same machine on https://timvanscherpenzeel.github.io/detect-gpu/ I get :

[code]

[code]

Do you know what could cause those difference between the 2 OS ?

[2020-10-09 11:06] TimvanScherpenzeel commented on #42
Could you send me the `Unmasked Renderer` shown on https://webglreport.com/?v=1 on both `Windows` and `Linux`?

It could be that Linux doesn't report the unmasked renderer correctly.

[2020-10-09 11:57] hyakki commented on #42
Hello @TimvanScherpenzeel ,

Here you have the full infos for both:

[code]

[code]

[2020-10-09 14:27] TimvanScherpenzeel commented on #42
@hyakki I've added an extra test case in the upcoming 2.0 release which will resolve the issue.

The current implementation of matching the GPU renderer string is insufficient, this has been significantly improved in the upcoming 2.0 release.

https://github.com/TimvanScherpenzeel/detect-gpu/pull/30/commits/04683d7fb9468f0fd9f3c432b00a4f084ca07ca6

[2020-10-09 18:24] hyakki commented on #42
@TimvanScherpenzeel : Cool!

Any idea when you plan to release it ?

[2020-10-09 20:10] TimvanScherpenzeel commented on #42
Hopefully in the next two weeks though no date has been set yet.

[2020-10-15 17:22] TimvanScherpenzeel opened #45 "Test on various browsers and devices"
Should support all modern browsers that support WebGL

- [x] Windows (IE 11, Edge, Chrome, Firefox)
- [x] MacOS (Safari, Chrome, Firefox)
- [x] iOS
- [x] Android

[2020-10-15 18:02] #45 closed

[2020-10-15 19:08] TimvanScherpenzeel commented on #20
Hi @bastienrobert , with the upcoming 2.0.0 release the benchmark updating script has been revised making it easier to potentially be automated in the future.

[2020-10-15 19:47] TimvanScherpenzeel commented on #7
Included in release `2.0.0`: https://www.npmjs.com/package/detect-gpu/v/2.0.0

Thanks for all the input!

By combining this implementation with other meta data (screen size, user agent) the results from my testing are shown to be accurate.

[2020-10-15 19:47] #7 closed

[2020-10-15 19:48] TimvanScherpenzeel commented on #42
Included in release `2.0.0`: https://www.npmjs.com/package/detect-gpu/v/2.0.0

Thanks for your input 👍

[2020-10-15 19:48] #42 closed

[2020-10-15 19:48] TimvanScherpenzeel commented on #12
Included in release `2.0.0`: https://www.npmjs.com/package/detect-gpu/v/2.0.0

Thanks for your input 👍

[2020-10-15 19:48] #12 closed

[2020-10-15 20:43] bastienrobert commented on #20
Hi @TimvanScherpenzeel, is there any roadmap to collaborate on the 2.0.0?

[2020-10-16 07:40] TimvanScherpenzeel commented on #20
Good news, I have released it this morning! 😄

There are a couple of things we will have to sort out:

- How to deal with network failure / incomplete benchmarks (we do not want to publish broken versions)
- How to deal with versioning / publishing (I assume we can send updates out as patches)
- Investigate the costs / platform to use, for tests I currently use Travis

[2020-10-16 14:08] TimvanScherpenzeel opened #47 "Investigation: deobfuscate Safari 14"
Currently Safari 14 obfuscates the renderer string as 'apple gpu' preventing an accurate match.

A possible solution could be to have a lookup table of possible GPU's Macs can have and matching on that with extra metadata (devicePixelRatio, screenSize, user agent).

Open for any suggestions / PR's 😃

[2020-10-16 15:21] bastienrobert commented on #47
[This article](https://medium.com/@Samsy/detecting-apple-a10-iphone-7-to-a11-iphone-8-and-b019b8f0eb87) is about GPU detection of iPhones using the floating point precision. It works for iPhone 7 vs iPhone 8 and +. Maybe we could investigate to get more precision?

[2020-10-16 15:59] TimvanScherpenzeel commented on #47
@bastienrobert we are currently using an optimised version of that in https://github.com/TimvanScherpenzeel/detect-gpu/blob/9b2b19726499439b545c084a569a16300ab2de7f/src/internal/deobfuscateAppleGPU.ts#L19-L118.

Some earlier research for handling iOS 12.2+ iPhones / iPads was done in https://github.com/TimvanScherpenzeel/detect-gpu/issues/7

It could be worth testing to see if we can get different

[2020-10-16 16:05] TimvanScherpenzeel commented on #47
I think it is safe to say Safari only runs on Mac devices. From https://gfxbench.com/result.jsp I was able to gather the following list of possible GPU's.

[code]

[2020-10-16 16:57] bastienrobert commented on #47
Agree with that

[2020-10-16 17:16] TimvanScherpenzeel opened #49 "Add support for iPhone 12 Pro, iPhone 12 Pro Max (A14) and potential iPads (A14X)"
Blocked until devices have been benchtested on GFXBench and are available for testing on Browserstack

[2020-10-16 19:20] TimvanScherpenzeel commented on #47
Sadly it appears that the benchmark data we use from gfxbench is quite outdated and Apple has been using a plethora of different GPUs over the years.

I think we can do some preliminary boxing of categories based on the screen size but at this point in time I don't see a feasible way to reasonably accurately determine the GPU.

Another challenge is that even if we are able to narrow down the scope

[2020-10-23 14:43] TimvanScherpenzeel opened #50 "MacBook Pro connected to eGPU doesn't report correct external GPU"
User report:

MacBook Pro reports eGPU as Intel(R) Iris(TM) Graphics 550 whilst stating Chrome / Firefox is using the eGPU.

https://webglreport.com/?v=1 also reports Intel(R) Iris(TM) Graphics 550 so it might be related to Apple not reporting the correct PCI.

Should report as AMD Radeon RX 5700 XT

[2020-11-04 14:07] puckey commented on #50
I have also had issues on MacBook Pro (16-inch, 2019) / chrome, where it would start with `AMD Radeon RX 5700 XT` but then switch back to using `Intel(R) Iris(TM) Graphics 550`, which was then unable to handle the graphics load - causing major lag. I turned `detect-gpu` off on mac devices for the time being for this reason..

I was also able to replicate this on versions of `detect-gpu` earlier th

[2020-11-20 07:50] Shinyaigeek opened #52 "Bug: detect-gpu crashes on SSR/SSG"
## Problem

`detect-gpu` will crash on SSR/SSG.

[code]

 I know `detect-gpu` depends on `window` object, but `getGPUTier` returns early without `window` object,  so I think this ReferenceError is unexpected behavior.

Early Return
https://github.com/TimvanScherpenzeel/detect-gpu/blob/23b80f1d0c02417804c4913ef0702524a56469b7/src/index.ts#L69-L75

https://github.com/TimvanScherpenzeel/detect-gpu/bl

[2020-11-20 10:28] TimvanScherpenzeel commented on #52
Hi @Shinyaigeek, could you have a look if this MR fixes your issue?

https://github.com/TimvanScherpenzeel/detect-gpu/pull/51

[2020-11-20 10:37] Shinyaigeek commented on #52
Hi! #51 fixes my issue, Thanks 🙏

[2020-11-20 10:37] #52 closed

[2020-11-20 10:51] TimvanScherpenzeel commented on #52
@Shinyaigeek thanks for confirming, I had little time lately to look at that MR in detail - hope to get to it soon!

[2020-11-20 11:23] TimvanScherpenzeel commented on #49
The new Macbook Pro also has a new chip (M1). We cannot detect it at this point in time but maybe in the future.

[2020-11-20 12:54] TimvanScherpenzeel commented on #52
Had some time over lunch - version 3.0.0 has been published which includes the bug fix!

[2020-11-25 10:48] Shinyaigeek commented on #52
Thanks!! version 3.0.0 perfectly works!!

[2021-01-29 16:10] puckey opened #56 "ipad (6th generation) detected as ipad pro (11-inch)"
Results:

[code]

other debug info:

[code]

Looks like the webgl hack is returning `801621810` instead of `8016218135`...

The iPad is running ios 14.0.1

[2021-01-29 16:35] puckey commented on #56
Not sure if ios safari behavior has changed or if the classification wasn't correct in the first place.. Will run through the various ipad models in the coming week to fix this..

[2021-03-07 11:26] mmgames opened #57 "GeForce RTX 3060 Ti is FALLBACK"
I ran the test on a GeForce RTX 3060 Ti.
The results were "tier 1" and "FALLBACK".

    {
        "isMobile": false,
        "tier": 1,
        "type": "FALLBACK"
    }

This is a disproportionate result for the performance of the GPU.

Chrome, FireFox, and NewEdge all had the same result.
In all browsers, we have confirmed that WebGL allows web games to run comfortably.

Is this a problem caused

[2021-05-24 18:43] BorisDmv opened #62 "RTX 3070 FALLBACK"

[2021-06-06 13:28] Utopiah opened #64 "WEBGL_UNSUPPORTED while https://webglreport.com/?v=1 and v=2 work"
Hi, great component.

Unfortunately trying the demo I get WEBGL_UNSUPPORTED whereas https://webglreport.com/?v=1 or v=2 gives me
[code]

and https://get.webgl.org gives me a rotating cube.

[2021-06-06 14:45] TimvanScherpenzeel opened #65 "Test suite is currently broken (master)"
The recently added isSSR option caused the test suite to break.

Declaring

[code]

at the top of the file raises other issues.

[2021-06-07 08:30] TimvanScherpenzeel commented on #64
Hi, thank you for your report. I am unsure why that would be the case and it will require some investigation.
My initial thinking is that the WebGL context crashes because it is forced in 'high-performance' mode (which indicates to the browser that it should use the most powerful GPU available on the system). Safari 12 was experiencing similar issues.

https://github.com/pmndrs/detect-gpu/blob/1c3

[2021-06-07 08:36] TimvanScherpenzeel commented on #57
Hi, my apologies for the late response.

We have moved this project over to the @pmndrs organisation which will help it being maintained better in the future.

This will very likely be fixed in the upcoming release as the new updated benchmarks include this new GPU.

https://raw.githubusercontent.com/pmndrs/detect-gpu/master/benchmarks/d-nvidia.json

I'll flag it with 3.0.1 and make sure we check

[2021-06-07 08:38] TimvanScherpenzeel commented on #62
Hi @BorisDmv,

The benchmark data has been updated and this issue will be resolved in the upcoming release.

https://raw.githubusercontent.com/pmndrs/detect-gpu/master/benchmarks/d-nvidia.json

I'll flag this ticket to make sure to verify it before the new release.

[2021-06-07 08:42] TimvanScherpenzeel commented on #65
Special cases to account for:
- https://github.com/pmndrs/detect-gpu/issues/62
- https://github.com/pmndrs/detect-gpu/issues/57
- https://github.com/pmndrs/detect-gpu/issues/56

[2021-06-07 08:43] Utopiah commented on #64
If there is a page with and without high performance happy to test there and report back.

FWIW I did test with the WebGL cube precisely because sometimes, silently, WebGL craches but that's usually browser-wide, meaning if one tab fails, others do. Here specifically one WebGL tab worked while I had this error.

[2021-06-07 08:50] TimvanScherpenzeel commented on #64
At the moment we don't support overriding this option manually in the constructor so I think this is something we might have to introduce and then I can prepare a way for you so you can test this properly in the near future.

For now could you use possibly https://jdashg.github.io/misc/webgl/low-power.html

[2021-06-07 09:10] Utopiah commented on #64
[code]

[2021-06-13 16:51] #65 closed

[2021-06-13 16:53] Gusted commented on #65
I'm not sure how to check #62 #57 #56 other then that the benchmark has been updated and the 2 NVIDIA's issues should be resolved.

[2021-06-13 17:00] TimvanScherpenzeel commented on #65
#62 and #57 are resolved with the new benchmarks. #56 appears to be a different issue. With iOS devices we rely on floating point precision in the shader (which is determined by the hardware) and some other features such as DPI and resolution to determine which iOS device it might be.

[2021-06-13 17:01] Gusted commented on #65
AKA - that will require some debugging with that exact device.

[2021-06-13 17:02] TimvanScherpenzeel commented on #65
Correct, I hope @puckey would have time to pick this one up. I wouldn't consider #56 as blocker for release.

[2021-06-13 17:04] Gusted commented on #65
Got it. The tests are fixed the benchmark is updated(especially for 30x series). Seems good enough for a 3.1 release

[2021-06-13 17:20] TimvanScherpenzeel commented on #62
Version 3.1.0 has been released

[2021-06-13 17:20] #62 closed

[2021-06-13 17:21] TimvanScherpenzeel commented on #57
Version 3.1.0 has been released

[2021-06-13 17:21] #57 closed

[2021-06-13 17:23] TimvanScherpenzeel commented on #65
I've released version 3.1.0 on NPM (https://www.npmjs.com/package/detect-gpu/v/3.1.0) with the updated benchmarks and your PR's - thanks!

[2021-06-13 17:24] Gusted commented on #65
Happy to help out!

[2021-06-13 17:31] TimvanScherpenzeel opened #69 "Live demo sandbox still points to detect-gpu@3.0.0"
Hi @drcmda, I've published NPM version 3.1.0 now that the test suite has been fixed.

Is it possible to update the dependency in the demo sandbox in-place (so that the link stays the same)?

Alternatively users could use https://pmndrs.github.io/detect-gpu/ for now (`index.html` in the repo).

[2021-06-13 20:35] TimvanScherpenzeel commented on #69
Oh it appears to have upgraded automatically, please ignore

[2021-06-13 20:35] #69 closed

[2021-06-13 22:09] drcmda commented on #69
@TimvanScherpenzeel  ive updated it :-D

still getting tier 1 fallback for the m1, this is doe to apple hiding the gpu, correct?

[2021-06-14 13:10] TimvanScherpenzeel commented on #69
Yes that is sadly the case.

Progress for deobfuscating Apple devices is being tracked here: https://github.com/pmndrs/detect-gpu/issues/47 but came across some major roadblocks. Perhaps now that the project has more visibility another attempt can be made.

[2021-06-14 13:17] TimvanScherpenzeel commented on #69
I've published a patch 3.1.1 which makes sure that if `type: "FALLBACK"` is rendered the GPU string (both parsed and unparsed) is returned. That way we can more easily catch edge cases.

[2021-06-14 13:30] TimvanScherpenzeel commented on #64
Could you try again with https://pmndrs.github.io/detect-gpu/ and if there are any errors thrown in the console report them please? It could possibly have something to do with iframing in the sandbox.

[2021-06-14 13:32] Gusted commented on #69
To get an accurate estimate of which device is being used on a safari browser(ios & MacOS) someone should own a good amount of apple devices and test out the results of the floating precision.

What I'm saying - Unless some crazy person wants to sponsor such thing or some apple fanboy has for some reason a lot of apple devices under their bed, I don't see any time soon getting another solution to

[2021-06-14 13:35] TimvanScherpenzeel commented on #69
I agree, I have used Browserstack before (which I have access to through my job, on which you can test with physical devices). I can have a look at what I can do. iOS is significantly more doable to narrow down than desktop.

[2021-06-14 13:39] Gusted commented on #69
Another option is to make this use this precision float thingy a widespread thing as I recently noticed that Firefox will disable the vendor/gpu extension for webgl when you have `privacy.resistFingerprinting` enabled and thus will result in fallback.

[2021-06-14 15:38] Utopiah commented on #64
[code]

[2021-06-14 15:42] Gusted commented on #64
In that case we could detect it beforehand and log a error/warning.

[2021-06-14 16:20] TimvanScherpenzeel commented on #49
Reports from Browserstack:

- ✔️ iPhone 12
- ❌ iPhone 12 Pro Max gets recognized as iPhone 11 Pro Max (both have the same screen size)
- ❌ iPad Pro's are classified under A12X in the benchmark

Closing this ticket, M1 desktop research will continue in #47

[2021-06-14 16:20] #49 closed

[2021-06-14 16:29] TimvanScherpenzeel commented on #56
What happens is that the screen size entry (2048x1536) exists in both the a9x and a10 case.

[code]

The same thing happens where the iPhone 12 Pro Max gets recognized as iPhone 11 Pro Max.

[2021-06-14 16:31] Gusted commented on #47
Is safari manipulating the screen dimensions? Iphone 11 pro max has a 6,5 inch screen(2688x1242) and the Iphone 12 pro max has a 6,7 inch screen(2778x1284). Otherwise  you could reliably* detect those 2 apart.

[2021-06-14 16:34] TimvanScherpenzeel commented on #47
Interesting, the benchmark data reports both as having `2688x1242`, could be something funky going on there.

[code]

[2021-06-14 16:38] TimvanScherpenzeel commented on #47
Ah.. wait a second, this is because of recent change where we include internalBenchMarkResults.ts, the resolution has been reported wrongly there: https://github.com/pmndrs/detect-gpu/blob/6f21403778c21690b6b141ea7a83b34c74e80b86/scripts/internalBenchmarkResults.ts#L92-L99

[2021-06-14 16:39] Gusted commented on #47
Aha, phew 😅 Safari isn't faking screen dimensions.

[2021-06-14 16:46] Gusted commented on #47
And that issue should be fixed now in 3.1.2 nice job! 🎈

[2021-06-14 16:54] TimvanScherpenzeel commented on #47
Fixed in 3.1.3, I had mistakingly not ran `yarn build` after bumping the version making it so that it was still pointing to the old benchmarks.

[2021-06-14 17:25] Gusted commented on #56
This is going to be a bit harder... as these size entries are correct 😄 well... We could use the [window.Screen](https://developer.mozilla.org/en-US/docs/Web/API/Screen) api to get some more information... As the Ipad 6th generation is a 9.7Inch screen which isn't the same as a 11inch but both have the same resolution. Pretty sure some property out their will be different due to that fact. But hey

[2021-06-14 23:17] Gusted commented on #50
Not a safari expert - But I've noticed this bug on the webkit bugtracker https://bugs.webkit.org/show_bug.cgi?id=202835 which could explain why this happening.

However as puckey notes, `where it would start with "AMD Radeon Pro 5300M"` it actually will report the correct eGPU? In that case my best guess is that MacOS is deciding(after sampling the first time with eGPU) that this relatively low on

[2021-06-16 11:08] #20 closed

[2021-06-16 19:12] Gusted opened #71 "Incorrect NPM_TOKEN"
I've forced some runs on the workflows and fixes some issues on the workflows branch, but now I'm hitting https://github.com/pmndrs/detect-gpu/runs/2842464460?check_suite_focus=true

[code]
Which indicates the now NPM_TOKEN is a normal token and should be changed to a [automation token](https://github.blog/changelog/2020-10-02-npm-automation-tokens/)

CC @TimvanScherpenzeel

[2021-06-16 19:16] TimvanScherpenzeel commented on #71
Hi @Gusted, I've changed the NPM_TOKEN with an automation token, hope this works :)

[2021-06-16 19:21] Gusted commented on #71
Thank you, seems to be working :D

[2021-06-16 19:21] #71 closed

[2021-06-16 19:23] Gusted commented on #71
https://github.com/pmndrs/detect-gpu/actions/runs/944018005 and the commit that it produces is in the master branch and seems okay to me.

[2021-06-16 19:33] TimvanScherpenzeel commented on #71
LGTM, only thing I was still thinking is that the CHANGELOG.md won't stay up to date. For now I'll add a note that released patches are benchmark updates unless stated otherwise.

[2021-06-16 19:35] TimvanScherpenzeel commented on #71
https://github.com/pmndrs/detect-gpu/commit/84fdf4cb6b150d9d0b6223c660e4b4d9abd44e20

[2021-07-05 11:46] puckey commented on #56
@gusted Happy to buy you a month of https://www.browserstack.com access if you feel like working on this!

[2021-07-19 12:23] CaelanStewart commented on #47
@TimvanScherpenzeel

I'm seeing a problem in Safari 15 (Technology Preview Release 127) on macOS 11.4 on an iMac with an AMD Radeon Pro 580 8GB GPU.

The demo page (which appears to be loading the latest 3.1.9 release) incorrectly identifies the tier of this GPU:

[code]

On Chrome and Firefox, however, it is identified correctly:

[code]

Let me know if there's anything I can do to help or any te

[2021-07-19 12:26] CaelanStewart commented on #47
@TimvanScherpenzeel – Apologies, I misread your last comment to indicate that you'd fixed this problem in Safari 14.

I see this is still an ongoing issue.

[2021-07-19 21:53] CaelanStewart opened #74 "Higher frame rate reported on inferior GPU"
Hi,

Thanks for build this tool!

I'm seeing a dubious result here on an 8 year old MacBook Pro, versus what I see on a much newer and more powerful iMac.

Apparently, the benchmark ranks the 8 year old laptop higher than thew new iMac.

Early 2013 MacBook Pro – Google Chrome
---

[code]

2017 iMac – Google Chrome
----

[code]

Happy to run tests/more benchmarks.

[2021-07-20 11:27] TimvanScherpenzeel commented on #74
Hi @CaelanStewart,

We source the benchmarks directly from https://gfxbench.com/result.jsp?benchmark=gfx50&test=544&text-filter=&order=median&ff-lmobile=true&ff-smobile=true&os-Android_gl=true&os-Android_vulkan=true&os-iOS_gl=true&os-iOS_metal=true&os-Linux_gl=true&os-OS_X_gl=true&os-OS_X_metal=true&os-Windows_dx=true&os-Windows_dx12=true&os-Windows_gl=true&os-Windows_vulkan=true&pu-dGPU=true&pu-i

[2021-07-20 11:34] TimvanScherpenzeel commented on #47
Hi @CaelanStewart, you are correct that this is an open problem due to the obfuscation that Apple does.
If you are able to expand the list I posted above here with more recent devices (GPU, device resolution) that would be helpful.
Any new ideas of how we could deobfscate the GPU are welcome because we are at a bit of a dead end due to the large target base with very similar resolutions.

[2021-07-20 11:35] TimvanScherpenzeel commented on #74
Closing this issue, feel free to re-open if necessary.

[2021-07-20 11:35] #74 closed

[2021-07-20 13:52] CaelanStewart commented on #74
@TimvanScherpenzeel – Hmm. I should have mentioned, but this MacBook Pro actually has a Retina display running at 2880x1800.

Either way, it would seem that the benchmark is not reporting a reasonable frame rate for the MacBook Pro, as it should be benchmarking at 2880x1800 (or take into consideration the scaling factor).

[2021-07-26 14:20] ema2159 opened #75 "Properly handling VR headset"
Hi! I am currently working with an Occulus Quest 2 and I am trying to use detect-gpu for 3D visualization in order to manage the level of detail of the meshes that will be loaded in the scene. However, it seems that detect-gpu doesn't handle this type of device properly, since, besides the GPU field, all the other fields don't give correct information. The one field that has the biggest impact is

[2021-07-26 15:25] TimvanScherpenzeel commented on #75
Hi, thanks for your report. Could you provide me the output you are currently getting, the user agent of the Occulus Quest 2 and the expected output? You can use https://webglreport.com/ to get all of those.

[2021-07-27 10:06] ema2159 commented on #75
I think I see the problem. The issue is that the Oculus browser has two modes, a "Desktop" and the "Mobile" modes, which makes it difficult to properly manage. This is the UA given by the Oculus:

AppleWebKit/537.36 (KHTML, like Gecko)
OculusBrowser/15.0.0.0.22.280317669
SamsungBrowser/4.0
Chrome/89.0.4389.90
VR
Safari/537.36

Lastly, for the desktop mode this is the given output:

    "gpu": "adr

[2021-08-12 13:06] puckey opened #77 "ios detection broken?"
I was just testing with my iphone (xs / ios 14.6) and noticed it was returning the default tier..

Looking into things, I see the magic pixel number returned by `deobfuscateAppleGPU` is not `801621810` or `8016218135`. Instead it is returning `80162181255`.

It then defaults to the renderer that was passed in, causing it to find nothing since it is obfuscated. When `deobfuscateAppleGPU` fails to f

[2021-08-13 09:55] puckey commented on #77
I made a spreadsheet of the results I found: https://docs.google.com/spreadsheets/d/e/2PACX-1vT3oRphnf0IzjKp-7npi6ig8PCgseGoUzMaAqaymPICY7OQrqPEZAt4wsqcMgpEKeKKLtiGAKZ7GQtJ/pubhtml

It seems we are not doing a very good job right now.. Most results are wrongly detecting the device and even gpu. I also checked to see what the results would have been if we just lumped together the old / new chipsets

[2021-08-13 14:09] puckey commented on #77
Added a [pull request](https://github.com/pmndrs/detect-gpu/pull/78) which:
- includes missing chipsets that support ios >= 13
- includes magic pixel value which points to newer chipsets
- when magic pixel value is missing in our lookup, defaults to both newer and older models

I would still like to figure out if this new `80162181255` value is now not also being returned by older models – in whic

[2021-08-13 18:28] puckey commented on #77
Tried my mom's old ipad, which is running ios 12.3 - it returned `80162181161` for the magic value.. hadn't seen that one before.. now updating it to latest ios to see what it returns there

[2021-08-15 12:53] puckey commented on #77
Checked an iPhone 7 on 14.7.1 and it also is returning `80162181255`..

[2021-08-15 18:19] puckey commented on #77
Also updated a 7th generation iPad to 14.7.1 and it is now also returning `80162181255` - as far as I am concerned, this means that Apple has normalised this value between devices and we should remove this magic pixel value hack. @TimvanScherpenzeel, what do you think?

[2021-08-16 12:34] puckey commented on #77
Instead of removing the hack, we can still use it to detect ios 14.x and eliminate devices which do not support it.

Pushed some more commits:

- with multiple results of the same resolution, pick the one with the lowest fps
- when apple's fixing of deobfuscation is detected, eliminate all devices that do not support ios 14.x
- export ipad benchmark data seperately allows client code simplificatio

[2021-08-17 10:59] TimvanScherpenzeel commented on #77
Thanks @puckey , hopefully I will have some time later this week to review this. Would be great if @Gusted could have a look as well but don't worry if it doesn't fit your schedule 👍

[2021-08-17 11:54] Pho3niX90 opened #79 "Broken in firefox"
Tested "https://pmndrs.github.io/detect-gpu/" in firefox in numerous devices, all of which report incorrectly vs Chrome.

In firefox, it is either reported as "FALLBACK" or "BLOCKLISTED"

[2021-08-17 12:49] TimvanScherpenzeel commented on #79
Hi @Pho3niX90, could you list the results you get in Chrome for the devices?

My Windows 10 computer is reporting the wrong result as well.

[code]

vs

[code]

[2021-08-17 13:29] puckey commented on #79
I am also seeing a `BLOCKLISTED` type..

[code]

For my machine, it seems Firefox is returning `radeon r9 200 series` as renderer where Chrome gives `ati technologies inc., amd radeon pro 5300m opengl engine, opengl 4.1 ati-3.10.21)`

[2021-08-17 13:50] puckey commented on #79
@Pho3niX90 Could you report what the following code returns when you paste it into the Firefox javascript console vs what it says in the Chrome console:

[code]

@TimvanScherpenzeel any idea why the `radeon r9 200` would be blocklisted? I don't see it included in either of the referenced urls: https://github.com/pmndrs/detect-gpu/blob/master/src/internal/blocklistedGPUS.ts

[2021-08-18 08:00] TimvanScherpenzeel commented on #79
@puckey, no idea why it is currently blocklisted, I'm fine with taking it off. When I started the project I scrambled a bit around the internet and source code of websites that were doing GPU detection. Most of the list does indeed come from the mentioned sources.

Could it be that Firefox is intentially obfuscating GPU devices?

I'm getting `"ANGLE (NVIDIA GeForce GTX 980 Direct3D11 vs_5_0 ps_5_0

[2021-08-18 08:34] puckey commented on #79
Okay, I will take it out of the blocklist and add it to my active pr. Just had a thought though: do we really need a blocklist? I.e. wouldn't the browsers themselves block? How many blocked gpus are around?

I did a cursory search in the mozilla codebase, but couldn't find anything on them obfuscating things.. maybe they are just doing a bad job?

[2021-08-18 14:59] Pho3niX90 commented on #79
@puckey

Firefox:
![image](https://user-images.githubusercontent.com/7858187/129921767-66567cf4-eef8-4346-84d3-f809c9c6a9ec.png)

Chrome:
![image](https://user-images.githubusercontent.com/7858187/129921843-0b2855df-635c-41a5-bfc7-2ce670605bcf.png)

[2021-08-18 17:41] puckey commented on #79
Yeah, so I am not sure we can do anything about Firefox incorrectly identifying the renderer.. Perhaps you want to make a ticket for them to look into it: https://bugzilla.mozilla.org/

We will unblock the R9 in the next version

[2021-08-20 16:13] Gusted commented on #77
Just came back from a vacation, and school is starting in ~2 weeks again. So I can take some looks but I won't be able to do make a big PR or anything like that.

I had a quick look over the spreadsheet and must say that apple has done a fair job at obfuscating the relevant "detection property". Detecting the difference between iPad models will be a bit easier than between the iPhone models, the i

[2021-08-24 08:50] puckey commented on #77
@gusted the pr is here: https://github.com/pmndrs/detect-gpu/pull/78 (and we can't use the floating point precision because apple has now normalised the value across devices)

[2021-08-24 09:03] puckey opened #80 "hard to tell what the content is of benchmark updates"
Due to the minified nature of the benchmark data, it is hard to tell how it is changing every week

Perhaps we could:
- output beautified benchmark data using something like `JSON.stringify(data, null, 2)`
- make sure the sorting of the data is consistent (if it isn't already)
- add a seperate minification step (for the gzip file?)

[2021-09-07 16:20] adamchenwei opened #82 "[question] can this lib tell how many percentage is the GPU is running at?"
I want to check if the GPU is currently occupied in certain percentage / by certain apps. Is this lib the right tool? Alternative if not? Thank you!

[2021-09-07 18:31] TimvanScherpenzeel commented on #82
Hi @adamchenwei,

This is not the library for that unfortunately and I don't think this is possible on the web outside of a development environment.

[2021-09-07 18:31] #82 closed

[2021-09-22 15:17] baptistebriel commented on #77
Hey there!
Just tested the [example](https://pmndrs.github.io/detect-gpu/) on an iMac M1, and it's returning tier: 1

[code]

Shouldn't it be treated as a good performance device? I am also getting the same with iPhone 12 (apple gpu)
Thanks a lot for this lib anyway!

[2021-11-18 20:04] tomorrowevening opened #84 "M1 support"
M1 devices currently report as Tier1, so people may catalog this as a low quality device, despite it being high quality
`{
  "gpu": "apple m1 pro (Apple M1 Pro)",
  "isMobile": false,
  "tier": 1,
  "type": "FALLBACK"
}`

[2021-11-28 16:20] bastienrobert commented on #84
Related to https://github.com/pmndrs/detect-gpu/issues/77#issuecomment-925029970

[2021-12-17 09:54] #84 closed

[2021-12-17 09:55] #77 closed

[2021-12-17 09:57] puckey commented on #56
fixed in master

[2021-12-17 09:57] #56 closed

[2021-12-17 10:38] #80 closed

[2021-12-17 10:52] puckey commented on #79
R9 is now unblocked in master

[2021-12-17 10:52] #79 closed

[2021-12-17 10:58] puckey opened #85 "Publish 4.0.0"
I merged https://github.com/pmndrs/detect-gpu/pull/78 into master and fixed https://github.com/pmndrs/detect-gpu/issues/80 / https://github.com/pmndrs/detect-gpu/issues/84. I also updated the changelog with the changes for 4.0.0

@TimvanScherpenzeel would you like to take care of last checks and npm publishing?

[2021-12-17 17:40] alexkowel commented on #85
Cool, thank you!

[2021-12-27 07:25] hmmhmmhm opened #86 "Crash in an old browser. (iPad Mini 1 Safari 9)"
The result of this module seems to be the ES6+.

After using this module, I confirmed that
it was inaccessible from a device using an old browser.
An error occurs because the old browser does not recognize the `const keyword`.

I tried to convert the module to ES5 arbitrarily,
but the following error occurs as the result value of next-transpile-modules + babel.
`TypeError: I is not a function`

[2022-01-05 12:44] TimvanScherpenzeel commented on #85
Hi @puckey, thanks for all your work - sadly I didn't find the time to work on this project lately.

From what I can see around 17 days ago version 4.0.1 was published and we are now on version 4.0.3. Do you know if your changes were published already or something else bumped the major version?

[2022-01-05 13:44] puckey commented on #85
Ah okay, I didn't know you had auto npm publishing set up. Thanks!

[2022-01-05 13:44] #85 closed

[2022-01-14 04:09] div-cowboy commented on #86
Also having this issue, please advise 🙏

[2022-01-24 13:26] lassemt commented on #47
@TimvanScherpenzeel I noticed you mentioned Active Theory's solution in #7 and mentioned it's a hacky way (I agree), but I want to point to their solution is based on [51Degrees/Renderer](https://github.com/51Degrees/Renderer) in case it helps. They do exactly the same but have excluded the CPU Benchmarking from their code.

[2022-01-27 06:34] robertosilvestrigotham opened #87 "OSX 12.1 - Firefox 96.0.2 (64-bit) - WEBGL_debug_renderer_info is deprecate - Returns tier 0"
<img width="937" alt="Schermata 2022-01-27 alle 07 31 32" src="https://user-images.githubusercontent.com/74539179/151304273-210bab82-8f2d-4ff9-85ba-faacea777f30.png">

Client: Osx 12.1  (Macbook pro 16" with Radeon AMD Radeon Pro 5300M 4 GB)
Browser: Firefox 96.0.2 (64-bit)

Error: WEBGL_debug_renderer_info is deprecated in Firefox and will be removed. Please use RENDERER. (detect-gpu.esm.js)

Ins

[2022-01-29 10:33] alexkowel commented on #86
I'm not a developer, but I believe this device is quite outdated. It has specs similar to iPad 2 and surely won't render anything more complex than a bunch of simple textured cubes or so...

[2022-02-02 16:08] kouak commented on #86
I believe I'm also having this issue on production builds created by `create-react-app`.

This does not happen in development mode.

I set up a small repro repo here: https://github.com/kouak/detect-gpu-repro

[2022-02-03 19:48] drenmullafetahu opened #88 "Macbook pro M1 Not working Node 17.4.0"
Unhandled Rejection (TypeError): e is not a function

<img width="1056" alt="Screenshot 2022-02-03 at 8 36 12 PM" src="https://user-images.githubusercontent.com/11060035/152417677-c9865d83-e765-4bc9-a14e-ff5a689f516e.png">

Any help with this ? I really wanted to use this library .

[2022-02-04 09:12] kouak commented on #86
@drenmullafetahu That's the same stack trace I got with create-react-app v5 (which uses webpack 5).

Solved it by moving to vite.

[2022-03-14 16:46] szehao opened #89 "Uncaught (in promise) TypeError: M is not a function"
Works fine locally, but not on production.

On create-react-app v5.0.0

Other users having same issue on separate issue : https://github.com/pmndrs/detect-gpu/issues/86#issuecomment-1029333412

![image](https://user-images.githubusercontent.com/32298647/158219874-a015916a-2aed-4552-a18b-ed9025c2c201.png)

[2022-04-03 18:20] danhollick commented on #89
Having this same issue
<img width="935" alt="Screenshot 2022-04-03 at 19 19 39" src="https://user-images.githubusercontent.com/13898607/161442330-549e1caf-3e18-481b-ac2f-6f5c2be74eff.png">

Using:
[code]
 or with `useDetectGPU`

[code]

  @TimvanScherpenzeel is there something we can do to help debug this issue? I'm not even sure where to start

[2022-04-04 08:49] danhollick commented on #89
Have tracked down this breaking change to version `4.0.0`.
`3.1.3` works as expected but doesn't report apple M1s correctly.

[2022-06-03 16:06] alejandrozeppelinlabs commented on #89
Hey, I am having the same problem! Is there any solution for this? I tried version 3.1.3 but is not working correctly on apple devices.

[2022-06-09 13:49] esnho opened #92 "Wrong detection on iPad Pro (11", 2nd gen)"
Hi,
looks like my iPad Pro 11" 2nd gen is recognised as iPad Air.

the Pro 11 2nd gen should be tier 3 and this could lead to wrong assumptions.

I tried to debug the library but I don't know what to check, I've printed some data from deobfuscateAppleGPU() method (console logs and screenshot below).

I also tried to run GFXBench Metal as double check, and I get a different GPU chipset from the one

[2022-06-13 16:38] SebasScript commented on #89
same issue here with new version of create react app that uses webpack 5

[2022-06-24 06:11] ktingvoar commented on #89
This issue has been blocking me for a while now too. Did some cursory hunting, and removing the terser plugin from the rollup config seemed to fix the issue for me. Is it necessary? https://github.com/pmndrs/detect-gpu/blob/068151c4dd32c1eea3cd5aeca9a1683ed8aab2f1/rollup/config.lib.ts#L24

[2022-07-06 12:09] eric-taix commented on #89
This is one of my coworker who's trying to fix this issue (typically by removing `terser` as suggested [here](https://github.com/pmndrs/detect-gpu/issues/89#issuecomment-1165234884)). And of course if we fix it, we'll open a PR ;-) For now, this is far from being solved.

If a maintainer could give us some advice(s) / idea(s) it would be probably more efficient.

[2022-07-06 12:20] eric-taix commented on #86
@kouak Can you explain what exactly you did (with some code) to solve this issue or even better open a PR and add a link to this PR in a comment of this issue?
We're facing the same issue as #89 which seems to be the same as this one. Many people are currently encountering it and any tips / code would be very helpful ❤️

[2022-07-06 13:39] kouak commented on #86
If I remember correctly, I just moved the project to [vite](https://vitejs.dev/) instead of CRA.

I haven't had time to investigate further though.

[2022-07-13 11:30] poulfoged opened #95 "Firefox"
Message in log:

```WEBGL_debug_renderer_info is deprecated in Firefox and will be removed. Please use RENDERER.```

And it reports tier 0:

[code]

Firefox 102.0.1 (64-bit).

Before upgrading Firefox was at version 85 which worked fine.

[2022-07-17 16:19] #89 closed

[2022-07-17 16:33] CodyJasonBennett commented on #86
We just published a fix for #89 with #94, which indicated an issue with this project's build step.

Does anyone have a quick reproduction to clear #96?

[2022-07-21 21:08] paulrehkugler commented on #86
cc @jansedivy

[2022-07-28 16:29] hug0b commented on #95
Looks like a duplicate of https://github.com/pmndrs/detect-gpu/issues/87

[2022-07-28 17:02] hug0b commented on #87
Seems like Firefox has added this warning for privacy reasons but effective deprecation seems unclear at this point.

https://bugzilla.mozilla.org/show_bug.cgi?id=1722782
https://github.com/ruffle-rs/ruffle/issues/5279

[2022-08-12 20:17] tr3ysmith opened #98 "Macbook M1 Pro Safari 15.6 Not Working"
Safari 15.6 on MacBook Pro (M1 Pro chip) is reporting incorrectly. It works fine with Chromium based browsers.

### Safari
[code]

### Edge
[code]

[2022-08-13 17:56] tomorrowevening opened #99 "MBP reporting tier 1"
Since the M1 update, my MBP gets tier1/24fps reported instead of tier3/60fps

2018 MBP
32 GB 2400 MHz DDR4
Radeon Pro Vega 20 4 GB
Intel UHD Graphics 630 1536 MB

Usually runs 60fps on the main monitor, and 30fps on my external (30 Hertz)
Main monitor (higher hertz, 60fps)
[code]

Externa monitor (30 hertz, 30fps)
[code]

[2022-09-02 08:42] Hill-98 opened #100 "Linux with AMD integrated graphics is not detected correctly."
This is the string returned on Linux: `amd, amd renoir (llvm 14.0.6), opengl 4.6)` (Ryzen 5700G with vega 8)

After regex processing (`str.replace(/\([^)]+\)/, "").match(/\d+/)`), the matched graphics card model is `4` (`opengl 4.6`).

The final device returned is: `amd radeon r4e`

[2022-09-06 11:42] emirefek opened #101 "Wrong "device" name"
Hello, thanks for this awesome tool for three.js but I found a little bug in my mobile phone.
I'm using "Samsung Galaxy S21 Ultra" but the live demo page in the README.md says the device it is "huawei mate 40 pro 5g". It's really wrong but probably it's guessed it from the GPU model because both that Huawei's SoC and S21U's SoC has same "ARM Mali-G78" gpu.
I think rather then guessing the phone it

[2022-09-06 14:21] sidsethupathi commented on #100
Started seeing a similar bug after upgrading to Chrome 105.

On Chromium 104, I'm seeing an Nvidia 970 running in Linux output this renderer: `ANGLE (NVIDIA Corporation, NVIDIA GeForce GTX 970/PCIe/SSE2, OpenGL 4.5.0)`

On Chrome 105, I'm seeing the same device output this renderer: `ANGLE (NVIDIA, Vulkan 1.2.175 (NVIDIA NVIDIA GeForce GTX 970 (0x000013C2)), NVIDIA)`.

On the Chrome 105 version, `

[2022-09-06 14:33] puckey commented on #100
@sidsethupathi thanks for the clear example – any chance you would be interested in adding this as a failing test and maybe even adding a fix?

[2022-09-06 22:07] sidsethupathi commented on #100
@puckey opened #102 for the Vulkan issue

@Hill-98 I think your issue might be slightly different, but if you provide what your expected device should be, I can try adding that in to the PR.

[2022-09-07 10:44] Hill-98 commented on #100
@sidsethupathi This is the string returned by my device: `amd, amd renoir (llvm 14.0.6), opengl 4.6)`
The expected return value should be: `amd renoir`

[2022-09-07 16:23] sidsethupathi commented on #100
@Hill-98 added a fix for your use case here: https://github.com/pmndrs/detect-gpu/pull/102/commits/6a1e303f3bf80464622f6071db8ad5df06db7dec

[2022-09-08 07:03] puckey commented on #100
Just merged #102 – thanks @sidsethupathi!
@Hill-98 perhaps you might want to give it a go to see if this fixes things for you.

[2022-09-08 13:16] benjazehr commented on #98
Can confirm also on my MacBook Pro (13-inch, M1, 2020) with Safari Version 15.5 (17613.2.7.1.8) this is the case.